.idea
.vs
#*
*~
*.pyc
cmake-build-*
*build/*
*build_*/*
include/opencompgraphmaya/build_constants.h
packages/
examples/

*.log

*.so
*.so.*
*.a
*.a.*
*.lib
*.dll
*.mll

*.tgz
*.zip
*.tar.gz
*.tar.bz2
*.tar
